//! Variables

$base-bg-color: #7500d4;
$base-color: #8c00ff;
$dark-color: #333;
$black-color: #000;
$white-color: #fff;
$light-color: rgb(223, 223, 223);
$secondary-color: #999;

//! Settings

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}