<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener | 404</title>

    <!--! Custom Styles-->
    <link rel="stylesheet" href="../static/css/404.css">
</head>
<body>
    
    <div class="container">
        <div class="items">
            <img src="../static/images/404 Error-pana.svg" alt="">
            <div class="link">
                <a href="https://storyset.com/web">Web illustrations by Storyset</a>
            </div>
        </div>
        <div class="text">
            <p>Sorry but the page you're loking for does not exist, you can <a href="/">back to home</a></p>
        </div>
    </div>

</body>
</html>